doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/select2.min.css')
		script(src='/javascripts/select2.min.js')
	body
		block content